<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.sergeykamyshov.rostovtransport">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.schedule.city.CityScheduleActivity"
            android:label="@string/title_schedule"/>
        <activity
            android:name=".ui.news.post.PostActivity"
            android:label="@string/title_news"/>
        <activity
            android:name=".ui.card.buy.map.CardBuyMapActivity"
            android:label="@string/card_tab_title_buy"/>
    </application>

</manifest>